
.directions {

	&__title {
		&::before{
			content: '';
			display: none;
		}
		align-items: center;
		text-align: center;
		margin: 110px 0 80px;
		font-size: 2.5em;
		font-weight: normal;
	}
	&__items {
		display: grid;
		grid-template: 1fr/ 1fr 1fr 1fr 1fr;
		margin: 0 auto;
		justify-items: center;
		gap: 25px;
		margin-bottom: 120px;
	}
	&__item {
		display: flex;
		flex-direction: column;
	}
	&__img {
	   object-fit: cover;
	   max-width: 100%;
	   height: 380px;
   }
	&__text {
		text-align: justify;
		font-weight: normal;
		margin-top: 15px;
		font-size: 1.1em;
		line-height: 1.4em;
		font-family: 'Comic Neue', cursive;
		align-self:flex-end;
	}
	&__subtitle {
		font-size: 1.7em;
		margin: 10px 5px 0 0;
		font-weight: 400;
		min-height: 2.2em;
		//font-family: 'Comic Neue', cursive;
	}
}


















